/* universal styling */
body {
  font-size: 18px;
  line-height: 1.4rem;
  font-family: 'Roboto', sans-serif;
  color: #333438;
}

h1 {
    font-size: 3.2rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.8rem;
}

h1, h2, h3 {
  font-weight: bold;
}


/* Header and nav */

header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 1.7rem;
  margin-left: 1.7rem;
  display: flex;
  align-items: center;
}

.logo img {
  width: auto;
}

.logo .span1 {
  font-size: 1.2rem;
  font-weight: bold;
}

.logo .span2 {
  font-size: 1.2rem;
}

.mobile-nav {
  display: none;
}

nav {
  margin-right: 0.5rem;
}

nav span {
  margin-right: 16px;
}

.desktop-nav a {
  text-decoration: none;
  color: #333438;
}

.desktop-nav a:hover {
  background-color:#333438;
  color: white;
  border-radius: 4px;
  padding: 8px;
  transition: all 400ms linear 200ms;
}


/* Jumbotron with main banner */

.jumbotron {
  display: flex;
  background-color: #c5c6c9;
}

.jumbotron .left {
  margin: 32px 24px;
  width: 60%;
}

.jumbotron .left img {
  width: 100%;
  height: auto;
}

.jumbotron .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 32px 24px 32px 0;
  line-height: 3.6rem;
}

.jumbotron .right h1 {
  line-height: 3.2rem;
  margin-bottom: 34px;
}

.jumbotron .right h3 {
  line-height: 2.5rem;
  margin-bottom: 34px;
}

.jumbotron .button {
  width: 100%;
  background-color: #333438;
  text-align: center;
}

.jumbotron .button a {
  text-decoration: none;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.4rem;
}

.button a:hover {
  text-decoration: underline;
}

/* Info section */

.info {
  display: flex;
}

.left-container {
  width: 60%;
  margin: 32px 24px;
}

.info .left-container img {
  width: 100%;
  margin-bottom: 32px
}

.info .left-container h2 {
  margin-bottom: 24px;
}

.info .left-container .text-content p {
  font-size: 1.4rem;
  font-weight: lighter;
  line-height: 1.2;
  margin-bottom: 32px;
}

.info .left-container span {
  margin-bottom: 32px;
}

.right-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #c5c6c9;
  padding-top: 16px;
}

.right-container .info-container {
  display: flex;
  align-items: center;
}

.info .right-container .mobile-image {
  display: none;
}

.right-container .image-container {
  width: 35%;
  margin: 16px;
}

.right-container .image-container img {
  width: 100%;
  height: auto;
}

.right-container .info-text {
  width: 65%;
  line-height: 1.8;
}

.right-container .info-text span {
  font-weight: lighter;
}

.info .right-container .info-text a {
  text-decoration: none;
  font-weight: lighter;
}

.grey {
  background-color: #c5c6c9;
}
/* Major section with major containers */

.majors {
  background-color: #c5c6c9;
}

.majors h2 {
  text-align: center;
  padding-top: 32px;
}

.major-container {
  padding: 32px 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.major {
  margin: 16px;
  background-color: white;
  width: 30%;
}

.major img {
  height: auto;
  width: 100%;
}

.major .courses {
  padding: 16px;
}

.major .courses h4 {
  margin: 8px 0 8px 0;
  font-weight: lighter;
}

.major .courses span {
  font-weight: lighter;
  margin-bottom: 24px;
}

/* thesis left and right containers */

.thesis h2 {
  text-align: center;
  padding-top: 32px;
}

.thesis .flex-container {
  display: flex;
}

.thesis .left-container video {
  width: 100%;
  margin-bottom: 24px;
}

.flex-container .left-container p {
  padding-top: 24px;
  font-weight: lighter;
}

.thesis-right.right-container {
  border-left: none;
  margin-top: 16px;
}

/* Footer */

footer {
  padding: 16px 16px 24px 24px;
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
  font-size: 0.8rem;
  border-top: 1px solid #c5c6c9;
}

.legal a {
  padding-right: 8px;
  text-decoration: none;
  color: #333438;
}

.legal a:hover {
  font-size: 1rem;
  font-weight: bold;
  transition: all 400ms linear;
}

/* Mobile media query */
@media only screen and (max-width: 500px) {

/* header */
  header .logo, nav span {
    display: none;
  }

  header .mobile-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 65px;
  }

/* jumbotron */
  .jumbotron {
    flex-direction: column;
  }

  .jumbotron .left {
    margin: 0;
    width: 100%;
  }

  .jumbotron .left img {
    width: 100%;
  }

  .jumbotron .right {
    margin: 0;
    padding: 32px 16px;
    line-height: 1rem;
  }

  .jumbotron .right h1 {
    line-height: 3rem;
    margin-bottom: 32px;
    font-size: 2rem;
  }

  .jumbotron .right h3 {
    line-height: 2rem;
    margin-bottom: 24px;
    font-size: 1.4rem;
  }

  .jumbotron .button {
    padding: 0.5rem 0 0.5rem 0;
  }

  .jumbotron .button a {
    font-size: 1.2rem;
  }

/* information section */
  .info .left-container {
    display: none;
  }

  .info .image-container {
    display: none;
  }

  .info .right-container {
    width: 100%;
  }

  .info .right-container .info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 16px;
  }

  .info .right-container .mobile-image {
    display: block;
    width: 100%;
  }

  .right-container .mobile-image img {
    width: 100%;
  }

  .right-info .info-container .info-text {
    text-align: left;
    width: 100%;
    padding-left: 16px;
  }

  .right-info .grey {
    background-color: white;
  }

  /* majors and courses */
  .majors {
    background-color: white;
    margin: 0;
    padding: 32px 16px;
  }

  .major-container {
    flex-direction: column;
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .major {
    width: 100%;
    margin-bottom: 8px;
    margin-left: 0;
  }

  .major-container .major img {
    display: none;
  }

  .major .courses {
    padding: 0;
  }

  .major .courses h3 {
    background-color: #c5c6c9;
    padding: 16px 0 24px 16px;
    width: 95%;
  }

  .major .courses h4, .major .courses span {
    display: none;
  }

  .flex-container .left-container {
    width: 100%;
    margin: 16px 0 24px 0;
  }

  .left-container video {
    width: 100%;
  }

/* thesis */
  .thesis .text-content {
    display: none;
  }

  .thesis-right {
    display: none;
  }

/* footer */
  footer {
    border-top: none;
  }

  footer .legal {
    display: none;
  }

}
